version: "3"
services:
  hyper:
    # build: .
    # alternatively, use image
    image: rust-redis-docker:latest
    ports:
      - "3000:3000"
    environment:
      REDIS_HOST: redis
  redis:
    image: "bitnami/redis:latest"
    ports:
      - "6379:6379"
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
